.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: min(50vw, 450px);
    z-index: 100;
    background-color: var(--clr-bg);
    color: var(--clr-text);
    padding: 0 1rem;
    border-left: 1px solid var(--clr-border);
    height: 100vh;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform .3s ease-out;
}

.cart.open {
    transform: translateX(0%);
}

.cart header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid var(--clr-border);
}

.btn.btn-cart-close {
    border-radius: 50%;
    border: 1px solid var(--clr-border);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-cart-close:hover,
.btn.btn-cart-close:focus {
    box-shadow: 0px 0px 1px 1px var(--clr-text-light);
    outline: none;
}

.cart-body {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    height: 100%;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 1rem;
}

.cart-item__img {
    display: flex;
    width: 120px;
    height: 130px;
}

.cart-item__img img {
    border-radius: var(--border-md) 0 var(--border-md) 0;
}

.cart-item__body {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    flex-grow: 1;
}

.cart-item__body h3 {
    text-transform: uppercase;
}

.cart-item__body .single-item__price {
    flex-grow: 1;
    padding: .5rem 0;
    font-size: 1.1rem;
}

.btn.btn-cart-remove {
    padding: 0.25rem;
    align-self: flex-end;
    font-weight: 400;
}

.cart .btn.btn-qty {
    padding: .35rem .5rem;
}

.single-item__qty-btns p {
    font-size: .9rem;
}

.btn.btn-cart-remove:focus,
.btn.btn-cart-remove:active {
    outline: none;
    text-decoration: underline;
}

.cart-footer {
    padding-bottom: 2rem;
}

.cart-footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-footer .btn-checkout {
    margin-top: 1rem;
    width: 100%;
    border-top: 0;
    border-bottom: 2px solid var(--clr-text);
}

@media screen and (max-width: 600px) {
    .cart {
        width: 100vw;
    }
}