.similar-items {
    height: 100%;
    padding-bottom: 5rem;
}

.similar-items__container {
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.similar-items__container h1 {
    padding-bottom: 2rem;
}

.similar-item___grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.similar-item___grid a {
    cursor: default;
    border-radius: var(--border-md);
}